@tailwind base;
@tailwind components;
@tailwind utilities;

html { 
    scroll-behavior: smooth;
}

input[type='date']::before {
    content: attr(data-placeholder);
    width: 100%;
    color: #999;
}